<div id="search-card">
    <form class="search-form" autocomplete="off">
        <div class="search-input">
            <input maxlength="80" type="search" class="search-input" id="search-input" name="s" placeholder="<%= __('search.placeholder') %>" required>
        </div>
        <div class="search-button">
            <button class="search-button " type="submit"><%= __('search.main') %></button>
        </div>
    </form>
</div>
<div id="search-result"></div>
<script>var searchDataFile = "<%= url_for(theme.search.path) %>";</script>
<script defer src="<%= url_for(theme.vendors.local_search || 'js/local-search.js') %>"></script>