<div class="content-card">
    <h2>
        <%= page.title %>
    </h2>
    <div id="search">
        <form class="search-form" autocomplete="off">
            <div class="search-input">
                <input maxlength="80" type="search" class="search-input" id="search-input" name="s" placeholder="<%= __('search.placeholder') %>" required>
            </div>
        </form>
    </div>
</div>
<div class="search-result" id="search-result">
    <div class="search-result__notice" id="search-result__notice"></div>
    <div class="content-card search-result__list" id="search-result__list"></div>
</div>
<script>var searchDataFile = "<%= url_for(theme.search.path) %>";</script>
<script defer src="<%= url_for('js/local-search.js') %>"></script>