$max_width_main = 776px
$max_width_logo = 1024px
$max_width_toc = 220px
$max_link_item = 16rem
$avatar_width = 96px
$avatar_height = 96px

$color_main = convert(hexo-config('style.color.main_color')) || #6200ee
$color_dark = convert(hexo-config('style.color.main_color_dark')) || #bb86fc
$color_title = #50596c
$color_title_dark = rgba(252,252,252,0.9)
$color_background = #f4f4f4
$color_background_dark = #121212
$color_card = #fff
$color_card_dark = #1e1e1e
$color_font = #4c4d4e
$color_font_dark = rgba(255,255,255,0.8)
$color_codeblock = #eeeeee
$color_codeblock_dark = #f0f6fc26
$color_tags_block = #f4f4f4
$color_tags_block_dark = #696969
$color_border = rgba(0,0,0,0.1)
$color_border_dark = rgba(255,255,255,0.1)
$color_footer_text = #999
$color_footer_link = #6b6b6b

$radius_main = convert(hexo-config('style.radius.main_radius')) || 5px
$radius_button = 5px

$space_main = convert(hexo-config('style.space.main_space')) || 3.5rem
$space_sm = convert(hexo-config('style.space.sm_space')) || 1.5rem
$header_height = 60px

$fontsize = 16px
$code_fontsize = 14px
$toc_fontsize = 14px
$lineheight = 1.8