:root
    --main-color $color_main
    --bg-color $color_background
    --bg-content-color $color_card
    --bg-menu #eceef2
    --bg-tag-color $color_tags_block
    --bg-cat-color $color_categories_block
    --bg-code $color_codeblock
    --bg-codeblock #f8f8f8
    --body-color $color_font
    --title-color $color_title
    --border-color rgba(0,0,0,0.1)
    --space $space_main
    --content-width $max_width_main

::-webkit-scrollbar 
    width .55rem !important
    height .40rem !important
    background 0 0 !important

::-webkit-scrollbar-thumb
    background #b5b5b5 !important

@media screen and (max-width: 762px)
    ::-webkit-scrollbar 
        width .25rem !important
        height .16rem !important

body
    --base-font-size $fontsize
    font-size var(--base-font-size)
    font-weight 400
    font-family -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji
    background-color var(--bg-color)
    color var(--body-color)
    transition color .6s,background-color .6s
    margin 0
    padding 0
    line-height $lineheight

@media screen and (max-width:650px)
    body
        --space $space_sm

article
aside
figure
details
footer
header
nav
section
    display block

.main
    margin 0 auto
    padding 1.5vw 12px 0

    &.tagscloud
    &.links 
        margin 0 auto
        max-width 1024px
        
table {
    width: 100%;
    max-width: 65em;
    border: 1px solid #dedede;
    margin: 15px auto;
    border-collapse: collapse;
    empty-cells: show;
}
table th,
table td {
  height: 35px;
  border: 1px solid #dedede;
  padding: 0 10px;
}
table th {
    font-weight: bold;
    text-align: center !important;
    background: rgba(158,188,226,0.2);
}

table tbody tr:nth-child(2n) {
    background: rgba(158,188,226,0.12); 
}

table tr:hover {
    background: #efefef; 
}

table th {
    white-space: nowrap;
}

table td:nth-child(1) {
    white-space: nowrap; 
}