@media (prefers-color-scheme: dark)
    :root
        --color-mode 'dark'

        &:not([data-user-color-scheme])
            --main-color $color_main
            --bg-color #181c27
            --bg-content-color #232222
            --bg-menu #3e4b5e
            --bg-tag-color #696969
            --bg-cat-color #778899
            --bg-codeblock #000
            --bg-code #3e4b5e
            --body-color rgba(255,255,255,0.8)
            --title-color rgba(252,252,252,0.9)
            --border-color rgba(255,255,255,0.1)

            blockquote
                border-left .25em solid rgba(255,255,255,0.5)
                color rgba(255,255,255,0.5)

            .post__license
                background-color rgba(255,255,255,0.2)

            .post__content
                img
                    opacity 0.8
                    filter brightness(.8) contrast(1.2)

                    &:hover
                        opacity 1
                        filter none

            table
                tr:not(.code):not(.gutter):nth-child(2n)
                    background-color #353535

[data-user-color-scheme="dark"]
    --color-mode 'dark'
    
    --main-color $color_main
    --bg-color #181c27
    --bg-content-color #232222
    --bg-menu #3e4b5e
    --bg-tag-color #696969
    --bg-cat-color #778899
    --bg-codeblock #000
    --bg-code #3e4b5e
    --body-color rgba(255,255,255,0.8)
    --title-color rgba(252,252,252,0.9)
    --border-color rgba(255,255,255,0.1)

    blockquote
        border-left .25em solid rgba(255,255,255,0.5)
        color rgba(255,255,255,0.5)

    .post__license
        background-color rgba(255,255,255,0.2)

    .post__content
        img
            opacity 0.8
            filter brightness(.8) contrast(1.2)

            &:hover
                opacity 1
                filter none

    table
        tr:not(.code):not(.gutter):nth-child(2n)
            background-color #353535
