<% if (theme.comments.use === 'livere') { %>
    <div id="lv-container" data-id="city" data-uid="<%= theme.comments.livere.livere_uid %>">
    <noscript>
        <div>
            <%= __('post.comments_placeholder', 'Livere') %>
        </div>
    </noscript>
    </div>
<% } %>