<% if (theme.back_to_top === true) { %> 
    <a href="#" class="button" id="b2t" aria-label="<%= __('navbar.top') %>" title="<%= __('navbar.top') %>">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="32" height="32">
            <path d="M233.376 722.752L278.624 768 512 534.624 745.376 768l45.248-45.248L512 444.128zM192 352h640V288H192z" fill="currentColor"></path>
        </svg>
    </a>
<% } %>