<% page.comments = false; %>
<mian class="main">
    <% if (site.pages && site.pages.length > 0) { %>
        <div class="posts">
        <% if (!page.prev) { %>
            <% site.pages.sort("-date").each(function(post){ %>
                <% if (post.group && post.group == page.group && post.layout != 'list') { %>
                    <% if (post.top) { %>
                    <div class='post-card content-box'>
                        <%- partial('_partial/post', {post: post, index: false}) %>
                    </div>
                    <% } %>
                <% } %>
            <% }) %>
        <% } %>
        <% site.pages.sort("-date").each(function(post){ %>
            <% if (post.group && post.group == page.group && post.layout != 'list') { %>
                <% if (!post.top) { %>
                    <div class='post-card content-box'>
                        <%- partial('_partial/post', {post: post, index: false}) %>
                    </div>
                <% } %>
            <% } %>
        <% }) %>
                </div>
    <% } %>
</main>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
