<% if (theme.footer.statistics.use === 'qexo' && theme.footer.statistics.page_pv.enable) { %> 
    <span id="qexo_container_page_pv" hidden>
        <span class="separate-dot"></span>
        <span><%- theme.footer.statistics.page_pv.before_text %></span>
        <span id="qexo_page_pv"></span>
        <span><%- theme.footer.statistics.page_pv.after_text %></span>
    </span>
<% } %>