.archives
    position relative

    .archives-item
        display flex
        margin-bottom 1.2rem
        position relative

        .archives-left
            flex 0 0 auto
            box-flex 0

        .archives-icon
            border-radius 50%
            color $color-12
            display block
            height 1.2rem
            text-align center
            width 1.2rem

            &.icon-lg
                background $color-13
                line-height 1.2rem

        .archives-content
            flex 1 1 auto
            box-flex 1
            padding 2px 0 2px .8rem

        .archives-icon::before
            border .1rem solid $color-13
            border-radius 50%
            content ""
            display block
            height .4rem
            left .4rem
            position absolute
            top .4rem
            width .4rem

        &:hover
            .archives-icon::before
                border .1rem solid $color-13
                background $color-13
                border-radius 50%
                content ""
                display block
                height .4rem
                left .4rem
                position absolute
                top .4rem
                width .4rem

    .archives-item::before
        background $color-14
        content ""
        height 100%
        left 11px
        position absolute
        top 1.2rem
        width 2px

