article
aside
details
figcaption
figure
footer
header
hgroup
menu
nav
section
    display block

html
    --base-font-size $font_basesize
    font-size var(--base-font-size)

body
p
    font-family rubik,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,pingfang sc,source han sans sc,noto sans cjk sc,sarasa gothic sc,microsoft yahei,sans-serif,Apple Color Emoji,Segoe UI Emoji,Varela Round

body
    --bg-color $color_background
    --bg-content-color $color_card
    --bg-tag-color $color_tags_block
    --bg-cat-color $color_categories_block
    --bg-code $color_codeblock
    --body-color $color_font
    --title-color $color_title
    --link-color $color_link
    --border-color rgba(0,0,0,0.1)
    --space $space_main
    --content-width $max_width_main
    --header-height $header_height
    --radius $radius_main
    font-weight 400
    background-color var(--bg-color)
    color var(--body-color)
    transition color .6s,background-color .6s
    margin 0
    padding 0
    line-height $font_lineheight

@media screen and (max-width:728px)
    body
        --space $space_s
        
@media screen and (max-width:500px)
    body
        --space $space_sm

.main
    margin 0 auto
    padding 1.5vw 15px 0
    max-width 800px

    .post
        img
            justify-content center!important
            align-items center!important
            margin-left auto
            margin-right auto
            max-width 100%
            border-radius 4px
            background 0 0

    &.tagscloud
        margin 0 auto
        padding 0 var(--space)
        max-width 100%

    &.friends 
        margin 0 auto 
        padding 0 var(--space)
        max-width 100%

#b2t
    width 40px
    height 40px
    position fixed
    z-index 1001
    right 20px
    bottom 30px
    background none