.content-box
    background-color var(--bg-content-color)
    max-width var(--content-width)
    margin 0 auto
    transition background-color .6s
    padding var(--space)
    border-radius var(--radius)
    box-shadow 1px 1px 5px 0 $color-10,1px 1px 15px 0 $color-11
    transition transform .3s,background-color .3s,box-shadow .6s

.post-meta
    font-size .8em
    opacity .8
    font-family rubik,sans-serif

.post-cats
    display inline-block
    margin 1em 0 0

.post-cats__link
    display inline-block
    margin-right .5em
    margin-top .5em
    font-size .8em
    color currentColor
    text-decoration none
    background-color var(--bg-cat-color)
    color currentColor!important
    padding .5em
    border-radius var(--radius)

.post-tags
    display inline-block
    margin 1em 0 0

.post-tags__link
    display inline-block
    margin-right .5em
    margin-top .5em
    font-size .8em
    color currentColor
    text-decoration none
    background-color var(--bg-tag-color)
    color currentColor!important
    padding .5em
    border-radius var(--radius)

.post-title
    padding calc(var(--space)/2) 0 calc(var(--space)/2)
    text-align center

.post__header
    width calc(100% + var(--space)*2)
    margin calc(var(--space)*-1)
    margin-bottom calc(var(--space)/2)
    overflow hidden
    border-radius var(--radius)
    
    img
        width 100%
        height auto
        max-height calc(width * 2.25)

    &:empty
        display none

.post__content
    p
        line-height $font_lineheight

    img
        display block

.post-comments
    padding calc(var(--space)/2)
    max-width var(--content-width)
    margin 0 auto
    font-family rubik,sans-serif

    &:empty
        display none

.post-card
    margin-bottom var(--space)
    position relative

    &:hover
        transform translateY(-5px)
        box-shadow 1px 10px 30px 0 $color-17

.post-footer__meta
    font-size 14px
    margin-top 1.5rem

.post-card__header
    margin calc(var(--space)*-1)
    margin-bottom calc(var(--space)/2)
    overflow hidden
    border-radius var(--radius)

    &:empty
        display none

.post-card__image
    min-width 100%

.post-card__title
    margin-top 0

.post-card__tags
    z-index 1
    position relative

.post-card__cats
    z-index 1
    position relative

.post-card__link
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    color $color-18
    opacity 0
    overflow hidden
    text-indent -9999px
    z-index 0