.post__license
    background-color $color-19
    word-break break-all
    margin 3em 0 1em 0
    padding 0.5rem 0.8rem
    border-left 4px solid $color-20
    list-style none

    p 
        margin 3px 1px 3px 1px
        padding 0
