$color5-1 = rgb(245, 245, 245)
$color5-2 = rgb(244, 67, 54)

.post__license
    background-color $color5-1
    word-break break-all
    margin 0px 0px 1rem
    margin-top 3rem
    padding 0.5rem 0.8rem
    border-left 4px solid $color5-2
    list-style none

    p 
        margin 3px 1px 3px 1px
        padding 0
