.author
    display block
    text-align center
    margin 3rem auto 3rem auto

    .author__logo
        max-width 600px
        height auto
        margin-left auto
        margin-right auto
    
    .author__intro
        color: #999

    .cover-menus
        margin-top 1.5rem
        .cover-menu 
            text-decoration none
            padding .325rem .4rem
            color #ffb90f
            
            &:hover
                color #eb5757 

