$color-1 = #708090
$color-2 = #999
$color-3 = #c71b7b
$color-4 = #690
$color-5 = #9a6e3a
$color-6 = hsla(0,0%,100%,.5)
$color-7 = #20a7e0
$color-8 = #dd4a68
$color-9 = #e90
$color-10 = rgba(0,0,0,.02)
$color-11 = rgba(0,0,0,.03)
$color-12 = #fff
$color-13 = #ffb90f
$color-14 = #e7e9ed
$color-15 = #ff253a
$color-16 = #eee
$color-17 = rgba(0,0,0,.1)
$color-18 = #000
$color-19 = rgb(245, 245, 245)
$color-20 = rgb(244, 67, 54)

$colormd-1 = #1b1f23
$colormd-2 = #24292e
$colormd-3 = #0366d6
$colormd-4 = #dfe2e5
$colormd-5 = #444d56
$colormd-6 = #fafbfc
$colormd-7 = #d1d5da
$colormd-8 = #eee
$colormd-9 = #e1e4e8
$colormd-10 = #6a737d
$colormd-11 = #eaecef
$colormd-12 = #f6f8fa
$colormd-13 = #fff
$colormd-14 = rgba(27,31,35,.05)
$colormd-15 = #005cc5
$colormd-16 = rgba(27,31,35,.3)
$colormd-17 = rgba(27,31,35,.6)
$colormd-18 = #ffea7f


$max_width_main = convert(hexo-config('style.box.max_width')) || 800px
$max_width_logo = convert(hexo-config('style.box.max_width_logo')) || 600px
$max_link_item = convert(hexo-config('style.box.link_itme')) || 16rem
@media screen and (min-width 2200px)
    $max_width_main = convert(hexo-config('style.box.sp_width')) || 1540px

$color_main = convert(hexo-config('style.color.main_color')) || #eb5757
$color_link = convert(hexo-config('style.color.link_color')) || $color_main
$color_link_hover = convert(hexo-config('style.color.link_color_hover')) || $color_link
$color_title = convert(hexo-config('style.color.title')) || #50596c
$color_background = convert(hexo-config('style.color.background')) || #f4f4f4
$color_card = convert(hexo-config('style.color.card_color')) || #fff
$color_font = convert(hexo-config('style.color.font_color')) || #444
$color_codeblock = convert(hexo-config('style.color.codeblock')) || #f8f8f8
$color_categories_block = convert(hexo-config('style.color.categories_block')) || #c2c2c2
$color_tags_block = convert(hexo-config('style.color.tags_block')) || #f4f4f4
$color_footer_text = convert(hexo-config('style.color.footer_text')) || #999
$color_footer_link = convert(hexo-config('style.color.footer_link')) || #6b6b6b

$radius_main = convert(hexo-config('style.radius.main_radius')) || 5px
$radius_button = convert(hexo-config('style.radius.button_radius')) || 5px

$space_main = convert(hexo-config('style.space.main_space')) || 3.5rem
$space_s = convert(hexo-config('style.space.s_space')) || 2rem
$space_sm = convert(hexo-config('style.space.sm_space')) || 1rem
$header_height = convert(hexo-config('style.space.header_height')) || 60px

$font_basesize = convert(hexo-config('style.font.base_fontsize')) || 16px
$font_lineheight = convert(hexo-config('style.font.line_height')) || 1.8