nav
    max-width var(--content-width)
    margin 0 auto
    text-align center

    a
        margin 0 10px
        padding 3px 10px
        background-color transparent
        border 2px dashed var(--link-color)

        &:hover
            border 2px solid var(--link-color)
            background-color var(--link-color)
            color var(--bg-content-color)
            text-decoration none