.with-side
    max-width calc(var(--content-width) + var(--toc-width) * 2)
    margin 0 auto

.post-side
    display block
    height 0
    float right
    position -webkit-sticky
    position sticky
    top: calc(var(--header-height) + 10px)
    margin-left -100%
            
    .post-side__toc
        display block
        
        .toc
            display none
            width var(--toc-width)
            overflow auto
            height calc(100vh - var(--header-height) - 20px)
            list-style-type none
            padding-left 0.6em

            .toc-child
                padding-left .35em
                list-style-type none
           
@media screen and (max-width: 1280px)
    .post-side
        width calc(100vw / 6 - 20px)
        
        .post-side__toc
            .toc
                width calc(100vw / 6 - 20px)

    .post.content-box
        width calc(100vw / 6 * 4)

@media screen and (min-width: 1080px)
    .post-side
        .post-side__toc
            .toc
                display block
    
@media screen and (max-width: 1080px)
    .post.content-box
        width 100%