<header class="header">
    <div class="header__left">
        <% if(is_post()) { %>
            <a href="/">
                <span class="logo__text">
                    ← <%- config.title %> | <%- __('navbar.home')%>
                </span>
            </a>
        <% } %>
    </div>
    <div class="header__right">
    
    </div>
</header>
