if hexo-config('fold.enable')
    .sliding-fold
    details
        display block
        padding 16px
        margin 20px 0
        background var(--bg-content-color)
        border none 
        border-radius 4px
        -webkit-box-shadow 1px 2px 5px 0 rgba(0,0,0,0.3)
        box-shadow 1px 2px 5px 0 rgba(0,0,0,.3)
        -webkit-transition all 0.6s
        -o-transition all 0.6s
        transition all .6s
        
        &>summary
            cursor pointer
            outline none

        .fold-content
            margin-top 20px

            &>:first-child
                margin-top 0

            &>:last-child
                margin-bottom 0

    if hexo-config('fold.motion')
        .sliding-fold
            &.collapsed
                &>summary:after
                    float right
                    content "+"

                .fold-content
                    max-height 0
                    overflow hidden
                    margin 0
            
            &.expanded
                &>summary:after
                    float right
                    content "-"

                .fold-content
                    max-height 100%
                    overflow hidden

            .fold-content
                -webkit-transition all 0.375s
                -o-transition all 0.375s
                transition all 0.375s
