if hexo-config('note')
    .blockquote-note
        margin 1rem 0
        padding 1rem
        -webkit-transition background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s
        transition background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s
        -o-transition transform 0.3s, background-color 0.3s, box-shadow 0.6s
        transition transform 0.3s, background-color 0.3s, box-shadow 0.6s
        transition transform 0.3s, background-color 0.3s, box-shadow 0.6s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s
        border none !important

        .blockquote-note__header
            font-family miriam libre, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, pingfang sc, source han sans sc, noto sans cjk sc, sarasa gothic sc, microsoft yahei, sans-serif, Apple Color Emoji, Segoe UI Emoji, Varela Round
            font-size 1.125em
            font-weight 550
            
            .blockquote-note__icon
                display inline-block
                vertical-align middle
                margin-right .5em
                margin-top .3em
                
                svg
                    display inline-block
                    width 24px
                    height 24px
                    stroke-width 0

        .blockquote-note__content
            color var(--body-color) !important
            margin-bottom 20px
            
            >:first-child
                margin-top 0

            >:last-child
                margin-bottom 0
    .post__content
        &>.blockquote-note
            margin 1rem calc(0rem - var(--space))
            padding 1rem var(--space)

    .blockquote-note__info
        color #0070f3 !important
        background-color rgba(0,113,243,0.1)
        
        .blockquote-note__icon svg
            fill #0070f3
            stroke #0070f3
        

    .blockquote-note__important
        color #19cc96 !important
        background-color rgba(25,204,150,0.1)
        
        .blockquote-note__icon svg
            fill #19cc96
            stroke #19cc96

    .blockquote-note__tip
        color #d400ff !important
        background-color rgba(212,0,255,0.1)
        
        .blockquote-note__icon svg
            fill #d400ff
            stroke #d400ff

    .blockquote-note__caution
        color #f5a623 !important
        background-color rgba(245,166,35,0.1)
        
        .blockquote-note__icon svg
            fill #f5a623
            stroke #f5a623

    .blockquote-note__warning
        color #e00 !important
        background-color rgba(224,0,0,0.1)
        
        .blockquote-note__icon svg
            fill #e00
            stroke #e00
