.header
    display flex
    justify-content space-between
    align-items center
    min-height $header_height
    padding 0 calc(var(--space)/2)
    top 0
    z-index 10

    .header__left
    .header__right
        display flex
        align-items center
        font-family rubik,sans-serif,Varela Round

    .header__left
    
        .logo__text
            font-size 18px
            padding 16px 10px 16px 10px
            border-radius 5px

    .header__right
    
        .cover__menus
            padding 0 15px 0 15px
            
            .cover-menu
                font-size 16px
                padding 16px 10px 16px 10px
                border-radius 5px

                &:hover
                    background-color var(--bg-menu)

        .dropdown-icon
            display none
            padding 16px 10px 16px 10px
            border 0 !important
            background-color transparent

            *
                width 20px
                height 20px

        .dropdown-menus
            display none
            background var(--bg-content-color)
            position absolute
            left 10px
            right 10px
            top 10px
            z-index 10000
            border-radius 6px
            padding 24px
            justify-items center
            justify-content center 
            flex-direction column
            transition all 0.35s ease
            transform translateY(2.25rem)
            opacity 0


            .dropback-icon
                position absolute
                top 10px
                right 10px
                padding 16px 10px 16px 10px
                border 0 !important
                background-color transparent

                *
                    width 20px
                    height 20px

            .dropdown-menu
                padding 10px

@media screen and (max-width: 764px)
    .cover__menus
        display none !important
    
    .dropdown-icon
        display block !important

.footer
    display block
    align-items center
    justify-content center
    padding 0
    margin-top 4rem
    margin-bottom 2rem
    text-align center
    font-size 1.1em
    font-family rubik,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,pingfang sc,noto sans cjk sc,sarasa gothic sc,microsoft yahei,sans-serif,Apple Color Emoji,Segoe UI Emoji,Varela Round
    color $color_footer_text

    *
        margin 0 auto
        margin-block-start 0em
        margin-block-end 0em
        margin-inline-start 0px
        margin-inline-end 0px

    >span
        margin 0 .35em

    a
        color $color_footer_link
        text-decoration none

    svg
        margin-right .2rem

.cover
    display block
    text-align center
    margin 3rem auto 3rem auto

    .cover__logo
        max-width $max_width_logo
        height auto
        margin-left auto
        margin-right auto
    
    .cover__intro
        color: #999

nav
    max-width var(--content-width)
    margin 0 auto
    text-align center

    a
        margin 0 10px
        padding 3px 10px
        background-color transparent
        border 2px dashed var(--main-color)

        &:hover
            border 2px solid var(--main-color)
            background-color var(--main-color)
            color var(--bg-content-color)
            text-decoration none
