.post-cats
    display inline-block
    margin 1em 0 0

.post-cats__link
    display inline-block
    margin .35em
    font-size .75em
    color currentColor
    text-decoration none
    background-color var(--bg-cat-color)
    color currentColor !important
    padding 0.25rem 0.6rem 0.25rem 0.6rem
    border-radius $radius_button

.post-tags
    display inline-block
    margin 1em 0 0

.post-tags__link
    display inline-block
    margin .35em
    font-size .75em
    color currentColor
    text-decoration none
    background-color var(--bg-tag-color)
    color currentColor !important
    padding 0.25rem 0.6rem 0.25rem 0.6rem
    border-radius $radius_button

#b2t
    display none
    width 40px
    height 40px
    position fixed
    z-index 1001
    right 20px
    bottom 30px
    background none

.separate-dot:after
    content ' · '

.post-side
    display block
    height 0
    float right
    position -webkit-sticky
    position sticky
    top: 'calc(%s + 10px)' % $header_height
            
    .post-side__toc
        display block
        
        .toc
            display none
            width $max_width_toc
            font-size $toc_fontsize
            overflow auto
            height 'calc(100vh - %s - 20px)' % $header_height
            list-style-type none
            padding-left 0.6em

            a:hover
                text-decoration underline

            .toc-child
                padding-left .35em
                list-style-type none
           
@media screen and (max-width: 1246px)
    .post-side
        width calc(100vw / 6 - 20px)
        
        .post-side__toc
            .toc
                width calc(100vw / 6 - 20px)

    .post
    .post__comment
        max-width calc(100vw / 6 * 4)
        width calc(100vw / 6 * 4)

@media screen and (min-width: 1080px)
    .post-side
        .post-side__toc
            .toc
                display block
    
@media screen and (max-width: 1080px)
    .post
    .post__comment
        max-width var(--content-width)
        width 100%

.post__license
    background-color rgb(245, 245, 245)
    word-break break-all
    margin 3em 0 1em 0
    padding 0.5rem 0.8rem
    border-left 4px solid rgb(244, 67, 54)
    list-style none

    p 
        margin 3px 1px 3px 1px
        padding 0

.post__expire
    display none
    margin calc(var(--space) / 2) var(--space) 0 var(--space)
    padding .5rem .8rem
    background #ffffc0
    border-left 4px solid #fff000
    list-style none
    
    p
        color #947600
        margin 3px 1px 3px 1px
        padding 0
