.content-card
    background-color var(--bg-content-color)
    max-width var(--content-width)
    margin 0 auto
    transition background-color .6s
    padding var(--space)
    border-radius $radius_main
    box-shadow 1px 1px 5px 0 rgba(0,0,0,.02),1px 1px 15px 0 rgba(0,0,0,.03)
    transition transform .3s,background-color .3s,box-shadow .6s

    &>:first-child
        margin-top 0

    &>:last-child
        margin-bottom 0

.MathJax
    overflow-x auto
    overflow-y hidden

.separate-dot:after
    content ' · '
