.cover
    display block
    text-align center
    margin 3rem auto 3rem auto

    .cover__logo
        max-width $max_width_logo
        height auto
        margin-left auto
        margin-right auto
    
    .cover__intro
        color: #999