.cover
    display block
    text-align center
    margin 3rem auto

    .cover__logo
        max-width $max_width_logo
        margin-left auto
        margin-right auto

    .cover__avatar
        border-radius 50%
        width $avatar_width
        height $avatar_height
        margin 0 auto 1rem auto
    
    .cover__intro
        color: #999