.footer
    display block
    -webkit-box-align center
    -ms-flex-align center
    align-items center
    -webkit-box-pack center
    -ms-flex-pack center
    justify-content center
    padding 0
    margin-top 4rem
    margin-bottom 2rem
    text-align center
    font-size 1.1em
    font-family rubik,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,pingfang sc,noto sans cjk sc,sarasa gothic sc,microsoft yahei,sans-serif,Apple Color Emoji,Segoe UI Emoji,Varela Round
    color $color_footer_text

    *
        margin 0 auto
        -webkit-margin-before 0em
        margin-block-start 0em
        -webkit-margin-after 0em
        margin-block-end 0em
        -webkit-margin-start 0px
        margin-inline-start 0px
        -webkit-margin-end 0px
        margin-inline-end 0px

    >span
        margin 0 .35em

    a
        color $color_footer_link
        text-decoration none

    svg
        margin-right .2rem

    #b2t
            display block
            width 3rem
            height 3rem
            position fixed
            z-index 1001
            right 1.2rem
            bottom 1.2rem
            border-radius $radius_button
            color var(--title-color)
            background-color var(--bg-menu)
            -webkit-box-shadow 0 0.3rem 0.6rem rgba(48,55,66,0.15)
            box-shadow 0 .3rem .6rem rgba(48,55,66,.15);

            *
                margin 8px
