nav
    display block
    max-width var(--content-width)
    margin 0 auto
    height 2.166rem

    .pagination_prev
        float left
        
    .pagination_next
        float right

    a
        margin 0 10px
        padding 3px 10px
        background-color transparent
        border 2px dashed var(--main-color)

        &:hover
            border 2px solid var(--main-color)
            background-color var(--main-color)
            color var(--bg-content-color)
            text-decoration none