.search-form 
    display flex
    justify-content flex-start
    margin-top 1.5rem

    .search-input
        flex 1 1 auto
        border 1px solid #dbdbdb
        background-color #fff
        border-radius 4px 0 0 4px


    #search-input 
        width 100%

    .search-button 
        border-radius 0 4px 4px 0
        padding 0 0.35rem 0 0.35rem
        background-color #3273dc
        border-color transparent
        color #fff

a.search-result__link
    color inherit

    &:hover
        text-decoration none