<div class="post-cats post-card__cats">
    <% (post.categories || []).forEach(function(cat) { %>
        <a href="<%- url_for(cat.path) %>" class="post-cats__link button"><%= cat.name %></a>
    <% }); %>
</div>

<div class="post-tags post-card__tags">
    <% (post.tags || []).forEach(function(item) { %>
        <a href="<%- url_for(item.path) %>" class="post-tags__link button"># <%= item.name %></a>
    <% }); %>
</div>