<% if (theme.meta.thumbnail.enable === true && (post.thumbnail || theme.meta.thumbnail.default)) { %>
    <% let thumbnail = post.thumbnail %> 
    <% if (theme.meta.thumbnail.relative === true && thumbnail.startsWith("/") === false) { %>
        <% let postLink = url_for(post.link || post.path) %> 
        <% thumbnail = url_for(postLink + "/" + thumbnail) %>
    <% } %> 
    <% if (theme.lazyload && theme.lazyload.enable === true) { %>
        <div class="post-thumbnail lazy" data-bg="<%= thumbnail || theme.meta.thumbnail.default %>"></div>
    <% } else { %>
        <div class="post-thumbnail" style="background-image: url('<%= thumbnail || theme.meta.thumbnail.default %>');"></div>
    <% } %>
<% } %>