$color-1 = #708090
$color-2 = #999
$color-3 = #c71b7b
$color-4 = #690
$color-5 = #9a6e3a
$color-6 = hsla(0,0%,100%,.5)
$color-7 = #20a7e0
$color-8 = #dd4a68
$color-9 = #e90
$color-10 = rgba(0,0,0,.02)
$color-11 = rgba(0,0,0,.03)
$color-12 = #fff
$color-13 = #ffb90f
$color-14 = #e7e9ed
$color-15 = #ff253a
$color-16 = #eee
$color-17 = rgba(0,0,0,.1)
$color-18 = #000

@import 'css/_defines.styl';

@import 'css/_header.styl';
@import 'css/_cover.styl';
@import 'css/_navbar.styl';
@import 'css/_footer.styl';
@import 'css/_copyright.styl';
@import 'css/_links.styl';
@import 'css/_md.styl';
@import 'css/_archive.styl';
@import 'css/_base.styl';
@import 'css/_box.styl';
@import 'css/_card.styl';